worker_processes  4;

events {
    worker_connections  8192;
}

# optional: path of orange.conf
env ORANGE_CONF;

http {
    server_tokens off ;
    resolver 114.114.114.114 8.8.8.8;
    charset UTF-8;
    include ./mime.types;

    log_format  main '$remote_addr - $remote_user [$time_local] "$request" '
    '$status $body_bytes_sent "$http_referer" '
    '"$http_user_agent" "$request_time" "$ssl_protocol" "$ssl_cipher" "$http_x_forwarded_for" '
    '"$mirror_url" "$mirror_host" "$rewrite_uri" '
    '"$upstream_addr" "$upstream_status" "$upstream_response_length" "$upstream_response_time"';

    access_log  ./logs/access.log  main;
    error_log ./logs/error.log info;

    sendfile        on;
    keepalive_timeout  65;

    server {
        listen 8081;
        location / {
                internal;
                dyups_interface;
        }
    }

    # default upstream server
    server {
        listen 8080;

        location / {
            content_by_lua_block {
                ngx.status = 404
                ngx.say([[404! upstream not found. Host: ]] .. ngx.var.host .. "  URI: " .. ngx.var.uri)
            }
        }
    }
   
    include nginx.conf.d/orange.conf;
    
    include nginx.conf.d/main_server.conf;
    
    include nginx.conf.d/api.conf;

}
