worker_processes  4;
worker_cpu_affinity 0001 0010 0100 1000;

events {
    worker_connections  8192;
}

# optional: path of orange.conf
env ORANGE_CONF;

http {
    server_tokens off ;
    resolver 114.114.114.114 8.8.8.8;
    charset UTF-8;
    include ./mime.types;

    log_format  main '$remote_addr - $remote_user [$time_local] "$request" "$host" '
    '$status $body_bytes_sent "$http_referer" '
    '"$http_user_agent" "$request_time" "$ssl_protocol" "$ssl_cipher" "$http_x_forwarded_for" '
    '"$mirror_host" "$mirror_url" "$mirror_name" "$rewrite_uri" '
    '"$upstream_host" "$upstream_url" "$upstream_name" '
    '"$upstream_addr" "$upstream_status" "$upstream_response_length" "$upstream_response_time" '
    '"$junhai_trace_id"';

    log_format  api '$remote_addr - $remote_user [$time_local] "$request" '
    '$status $body_bytes_sent "$http_referer" '
    '"$http_user_agent" "$request_time" "$ssl_protocol" "$ssl_cipher" "$http_x_forwarded_for"';

    access_log  ./logs/access.log  main;
    error_log ./logs/error.log error;

    sendfile        on;
    keepalive_timeout  65;
   
    include nginx.conf.d/*.conf; 

}
